*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment:fixed;
}

:root{
    scroll-behavior: smooth;
}

.hamburguer{
    position: fixed;
    z-index: 10;
    height: 40px;
    top: 15px;
    right: 30px;
    background: #fff;
    width: 40px;
    cursor: pointer;
    padding: 3px;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.menu-navegacion{
    position: fixed;
    top:0;
    right:0;
    width: 30vw;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color:black;
    text-decoration: none;
}



header:hover .menu-navegacion{
    transform: translate(110%);
}
.GymKipedia{
    font-family:'Ubuntu';
    color:rgb(72, 72, 72);
    font-size: 35px;
}

a{
    text-decoration: none;
    color:rgb(69, 69, 69);
    padding: 15px;
}

header{
    min-height: 70px;
    display: flex;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 20px;
}

h1{
    color: white;
    font-size: 50px;
}
p{
    color:white;
    font-size: 20px;
}

section{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Ubuntu';
}

.imgs{
    display: flex;
    height: 500px;
    background-color: black;
}
    
.imgs img{
    width: 0px;
    height: 500px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .3;
    transition: .5s ease;
}
    
.imgs img:hover{
    cursor:crosshair;
    width:300px;
    opacity: 1;
    filter: contrast(120%);
}

.imgs .img-text{
    display: none;
    color: white;
    position: absolute;
    text-shadow:3px 3px 3px black;
    font-size: 50px;
    font-family:'Ubuntu';
}
    
.imgs img:hover + .img-text{
    display:flex;
}


.Buscar form{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.Buscar form input[type="text"]{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 20%;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    font-family: 'Ubuntu';
}
.Buscar form input[type="text"]:focus{
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Buscar input:focus::placeholder {
    color: transparent;
}
.Buscar button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width: 100px;
    background-color:black;
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 16px;
    font-size: 17px;
    font-family: 'Ubuntu';
}

.Buscar button{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.Subtitulos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    color:white;
    background-color:black;
    padding: 10px;
    font-family:'Ubuntu';
}

.imgs2{
    display: flex;
    height: 500px;
    background-color: black;
}
    
.imgs2 img{
    width: 0px;
    height: 500px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .3;
    transition: .5s ease;
}
    
.imgs2 img:hover{
    cursor:crosshair;
    width:270px;
    opacity: 1;
    filter: contrast(120%);
}

.imgs2 .img-text{
    display: none;
    color: white;
    position: absolute;
    text-shadow:3px 3px 3px black;
    font-size: 60px;
    font-family:'Ubuntu';
}
    
.imgs2 img:hover + .img-text{
    display:flex;
}